body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.theme-toggle {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  margin: 20px;
}

td {
  width: 120px;
  height: 120px;
  text-align: center;
  vertical-align: center;
  font-size: 24px;
  border: 1px solid #000;
  cursor: pointer;
}

.dark {
  background-color: black;
  color: white;
}

.win {
  background-color: yellow;
}
